<aside class="sidebar" style="margin-top:50px;"
       data-role="sidebar"
       data-toggle="#sidebar-toggle-4"
       id="sb4"
       data-shift=".shifted-content-2"
       data-static-shift=".shifted-content-2"
       data-static="md">
    <div class="sidebar-header" data-image="https://www.neumarket.com/media/catalog/product/cache/1/image/800x/040ec09b1e35df139433887a97daa66f/l/l/llanta-continental-extreme-contact-dw-per2_4.png">       
    </div>
    <div>
        <span class="title fg-black"><h2>Neomatic Master</h2></span>
        <span class="subtitle fg-black"> 2019 © Instituto tecnologico superior yavirac</span>
    </div>
    <ul class="sidebar-menu">
        <li><a routerLink="/cuerpo"><span class="mif-home icon"></span>CALCULOS</a></li>
        <li><a routerLink="/pagina2"><span class="mif-books icon"></span>HISTORIAL</a></li>
        <li><a routerLink="/equivalencias"><span class="mif-files-empty icon"></span>EQUIVALENCIAS</a></li>
        <li><a routerLink="/resultados"><span class="mif-images icon"></span>RESULTADOS</a></li>
    </ul>
</aside>
<div class="shifted-content-2 h-100 p-ab">
    <div class="appbar pos-absolute bg-red z-1" data-role="appbar">
        <button class="app-bar-item c-pointer" id="sidebar-toggle-4">
            <span class="mif-menu fg-white"></span>
        </button>
    </div>
</div>
