<div class="appbar pos-absolute bg-red z-1" data-role="appbar">
  <h3 class="col-12" style="color: white;">EQUIVALENCIAS</h3>
</div>

<div class="h-100 p-4">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" (click)="getPersonas()" class="btn btn-info">
      <span class="fa fa-sync"></span>
    </button>
    <button type="button" (click)="open(content, 'nuevo')" class="btn btn-primary">
        <span class="fa fa-file"></span>
    </button>
    <button type="button" (click)="obtenerHora()" class="btn btn-success">
        <span class="fa fa-clock"></span>
    </button>
  </div>
  <div class="col-12 mt-2">
    <table class="table">
      <thead>
        <tr>
            <th></th>
            <th>Identificación</th>
            <th>Nombre Completo</th>
            <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let persona of personas" (click)="seleccionar(persona)">
            <td>
              <span class="fa fa-hand-point-right" [hidden]="!estaSeleccionado(persona)"></span>
            </td>
            <td>{{persona.identificacion}}</td>
            <td>{{persona.apellido1}} {{persona.apellido2}} {{persona.nombre1}} {{persona.nombre2}}</td>
            <td>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" (click)="open(content, 'edit')" class="btn btn-warning">
                    <span class="fa fa-edit"></span>
                </button>
                <button type="button" class="btn btn-danger">
                    <span class="fa fa-trash-alt" (click)="deletePersona(persona)"></span>
                </button>
              </div>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
